.wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container {
    width: 100%;
    height: 1px;
    background-color: var(--border);
}

.spanWrapper {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: var(--fw-bold);
    text-align: end;
}

.span {
    color: var(--primary);
}

@media (min-width: 768px) {
    .spanWraper {
        font-size: var(--fs-h2);
        line-height: 1;
    }

    .spanWrapper {
        font-size: var(--fs-h2);
        line-height: 1;
    }
}