.gridContent {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 0;
    display: grid;
    max-width: 75%;
    transform: translate(0, -50%) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.gridWrapper {
    cursor: crosshair;
    border-radius: 9999px;
    padding: 0.5rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

}

.gridWrapper:hover {
    background: rgb(118, 121, 126);
    background: linear-gradient(131deg, rgba(118, 121, 126, 1) 10%, rgba(73, 75, 79, 1) 89%);
}

.grid {
    height: 0.5rem;
    width: 0.5rem;
    transform: scale(1) translate(1px);
    border-radius: 9999px;
    background: rgb(118, 121, 126);
    background: linear-gradient(131deg, rgba(118, 121, 126, 1) 1%, rgba(67, 120, 212, 1) 100%);
    opacity: 0.5;
    list-style-type: dot;
}