.wrapper {
    padding: 3rem 2rem;
    margin: 0 auto;
    border-radius: 0.75rem;
    max-width: 36rem;
    background-color: var(--foreground);
}

.h4 {
    font-size: var(--fs-sub-title);
    line-height: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.span {
    color: var(--primary);
}

.para {
    margin: 2rem 0;
    line-height: 1.625;
    text-align: center;
}

.link {
    color: var(--primary-light);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.emailLink {
    text-decoration: none;
}

.emailDiv {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0 auto;
    white-space: normal;
    color: var(--primary-content);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.emailDiv:hover {
    color: var(--primary);
}

@media(min-width: 768px) {
    .h4 {
        font-size: var(--fs-h2);
        line-height: 1;
    }

    .emailDiv {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}